* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-between;
	border: 1px solid Black;
	padding: 2%;
	padding-right: 8%;
}

nav ul {
	display: flex;
	list-style-type: none;
	
}

nav a {
	text-decoration: none;
	color: Black;
	font-family: "Cantarell", 'Courier New', Courier, monospace;
	padding: 10px;
}

nav a:hover {
	background-color: Black;
	border-radius: 100px;
	color: White;
	transition: 0.2s ease-in;
}